<h1 style="text-align: center;font-weight:900;font-size:30px">PANDAS</h1>

## Aim:

To perform operations on series and dataframes using pandas

<div>

## Code:

In [2]:
import pandas as pd

1. Set weekdays as an index for the data frame given:

In [3]:
given_data = {
    
    "City": ['Blr','Del','Hyd','Pune'],
    "sells": [22,5,25,30],
    "visitors": [255,25,300,545],
    "weekdays": ['sun','Mon','Sat','Sat']
}

dataframe = pd.DataFrame(given_data)

#setting weekdays as index
print('\nOutput:\n')
wkdys_dataframe = dataframe.set_index("weekdays")

print(wkdys_dataframe)

Output:

          City  sells  visitors
weekdays
sun        Blr     22       255
Mon        Del      5        25
Sat        Hyd     25       300
Sat       Pune     30       545

<div>

2. Drop an index i.e Row3 from data_frame given in question 1 and reset the index using .reset_index() fuction.

In [4]:
data_frame = pd.DataFrame(given_data)                
#data frame given in question 1
data_frame.drop([2], inplace = True)                 
#removed row 3 from the data frame
data_frame.reset_index(drop = True, inplace = True)
#resetting index
print('\nOutput:\n')
print(data_frame)

Output:

   City  sells  visitors weekdays
0   Blr     22       255      sun
1   Del      5        25      Mon
2  Pune     30       545      Sat

<div>

3. Create a data frame using the given dictionary and remove the rows having missing values(nan), not more than 2. And reset the index of the data frame.
d= {‘A’ :[1,2,np.NaN,5,8,12],‘B’:[ 1,np.NaN, np.NaN,24,12,34], ‘C’:[1,2,3,11,np.NaN,17]}

In [5]:
import numpy as np

#given dictionary
data = {
    
    'A' :[1,2,np.NaN,5,8,12],
    'B':[ 1,np.NaN, np.NaN,24,12,34], 
    'C':[1,2,3,11,np.NaN,17]
}

#drop Nan values and reset index
df = pd.DataFrame(data)
df.dropna(inplace = True)
df.reset_index(drop = True, inplace = True)
print('\nOutput:\n')
print(df)

Output:

      A     B     C
0   1.0   1.0   1.0
1   5.0  24.0  11.0
2  12.0  34.0  17.0

<div>

4. Create a data frame using the given function and find unique values and the number of occurrences of every value in the df.
{“col 1”:[1,2,3,4], “col2” :[444,333,111,444], “col3”:[‘abc’, ‘def’,’ghi’,’xyz’]}

In [6]:
#given data
data4 = {
    
    "col1":[1,2,3,4], 
    "col2" :[444,333,111,444], 
    "col3":['abc', 'def','ghi','xyz']
}

dataframe4 = pd.DataFrame(data4)

print('\nOutput:\n')
#unique function
print('Unique Values:')
print(dataframe4.col1.unique())
print(dataframe4.col2.unique())
print(dataframe4.col3.unique())

#value_counts function
print('\nCounts:')
print(dataframe4.col1.value_counts())
print(dataframe4.col2.value_counts())
print(dataframe4.col3.value_counts())

Output:

Unique Values:
[1 2 3 4]
[444 333 111]
['abc' 'def' 'ghi' 'xyz']

Counts:
1    1
2    1
3    1
4    1
Name: col1, dtype: int64
444    2
333    1
111    1
Name: col2, dtype: int64
abc    1
def    1
ghi    1
xyz    1
Name: col3, dtype: int64

<div>

5. Create a data frame from the dictionary given below and perform the given operations using .groupby() function of pandas

{“Company” : [“CompA”, “CompA”, “CompB”, “CompB”, “CompC”, “CompC”],
“Person”: [Rajesh”,”Pradeep”,”Amit”,”Rakesh”,”Suresh”,”Raj”],
“Sales” :[200,120,340,124,243,350]}

Operations:
A. group data by ‘company’ label<br>
B. apply standard deviation on grouped data by ‘company’ label<br>
C. sum the sales of the same companies and fetch the data , use .groupby() function.<br>

In [7]:
data5 = {
    
    "Company" : ["CompA", "CompA", "CompB", "CompB", "CompC", "CompC"],
    "Person": ["Rajesh","Pradeep","Amit","Rakesh","Suresh","Raj"],
    "Sales" :[200,120,340,124,243,350]
}

#create dataframe using given dictionary
df5 = pd.DataFrame(data5)
print('\nOutput:\n')
print('Dataframe:\n')
print(df5)

#operation A
A = df5.groupby(["Company"]).value_counts()
print("\nA.Grouped data by 'Company label':\n")
print(A)

#operation B
B = df5.groupby(["Company"]).std(numeric_only = True)
print("\nB.Standard deviation on grouped data by ‘company’ label:\n")
print(B)

#operation C
C = df5.groupby(["Company"]).sum(numeric_only = True)
print("\nC.Sum of the sales of the same companies grouped by 'Company label:'\n")
print(C)

Output:

Dataframe:

  Company   Person  Sales
0   CompA   Rajesh    200
1   CompA  Pradeep    120
2   CompB     Amit    340
3   CompB   Rakesh    124
4   CompC   Suresh    243
5   CompC      Raj    350

A.Grouped data by 'Company label':

Company  Person   Sales
CompA    Pradeep  120      1
         Rajesh   200      1
CompB    Amit     340      1
         Rakesh   124      1
CompC    Raj      350      1
         Suresh   243      1
dtype: int64

B.Standard deviation on grouped data by ‘company’ label:

              Sales
Company
CompA     56.568542
CompB    152.735065
CompC     75.660426

C.Sum of the sales of the same companies grouped by 'Company label:'

         Sales
Company
CompA      320
CompB      464
CompC      593

<div>

6. Perform at least two operations using both loc[ ] and iloc [] functions on the dataframe given below.

In [8]:
#given data frame
data6 = {
    
    "Col 1": [3,1,4,6,9],
    "Col 2": [3,8,7,6,3],
    "Col 3": [4,2,1,6,9],
    "Col 4": [5,7,9,7,2],
    "Col 5": [4,7,2,0,1]
}

df6 = pd.DataFrame(data6 , index = ['Row1','Row2','Row3','Row4','Row5'])

print('\nOutput:\n')
print('Dataframe:\n')
print(df6)

#loc[] function - used to access a group of rows and columns by label
print('\n\nAccesing Row2 using loc funtion:\n')
print(df6.loc['Row2'])

#iloc[] function - 
#used for purely integer-location based indexing for selection by position
print('\n\nAccesing element from Row2 and Col4 using iloc function:')
print('Element = ',df6.iloc[1,3])

Output:

Dataframe:

      Col 1  Col 2  Col 3  Col 4  Col 5
Row1      3      3      4      5      4
Row2      1      8      2      7      7
Row3      4      7      1      9      2
Row4      6      6      6      7      0
Row5      9      3      9      2      1


Accesing Row2 from the dataframe using loc funtion:

Col 1    1
Col 2    8
Col 3    2
Col 4    7
Col 5    7
Name: Row2, dtype: int64


Accesing element from Row2 and Col4 from the dataframe using iloc function:
Element =  7

<div>