<h1 style='text-align: center;font-weight:900;font-size:30px'>CLASSIFICATION</h1>

<div>

## Aim:

To perform classification using Decision Tree, Naive Bayes, SVM and KNN algorithms

## Algorithm:

Step 1: Start<br>
Step 2: Import pandas,seaborn<br>
Step 3: Load dataset TIPS from seaborn<br>
Step 4: Check for null values using isnull()<br>
Step 5: If there are null values use interpolate()<br>
Step 6: Convert categorical values to binary values<br>
Step 7: Seperate the features and the classes<br>
Step 8: Split the data set into training and test datasets using train_test_split <br>
Step 9: Import DecisionTreeClassifier from sklearn.tree <br>
Step 10: Train the model using fit()<br>
Step 11: Test the model and determine the score using predict() and score()<br>
Step 12: import confusion_matrix from sklearn.metrics<br>
Step 13: Create and print confusion matrix<br>
Step 14: Calculate precision using formula TP/(TP+FP)<br>
Step 15: Perform similar classifications using Naive bayes,SVM,and KNN models<br>
Step 16: Compare score and accuracy for different models<br>
Step 17: Stop<br>

## Code:

In [2]:
import pandas as pd
import seaborn as sb

In [13]:
df=sb.load_dataset('tips')
df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [14]:
from sklearn.preprocessing import LabelEncoder
df['sex']=LabelEncoder().fit_transform(df['sex'].values)
df['smoker']=LabelEncoder().fit_transform(df['smoker'].values)
df['time']=LabelEncoder().fit_transform(df['time'].values)
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0  Sun     0     2
1       10.34  1.66    1       0  Sun     0     3
2       21.01  3.50    1       0  Sun     0     3
3       23.68  3.31    1       0  Sun     0     2
4       24.59  3.61    0       0  Sun     0     4

In [19]:
df = pd.concat((df,pd.get_dummies(df.day)),axis=1)
df = df.drop('day',axis=1)
df.head()

,total_bill,tip,sex,smoker,time,size,Thur,Fri,Sat,Sun,Thur,Fri,Sat,Sun
0,16.99,1.01,0,0,0,2,0,0,0,1,0,0,0,1
1,10.34,1.66,1,0,0,3,0,0,0,1,0,0,0,1
2,21.01,3.50,1,0,0,3,0,0,0,1,0,0,0,1
3,23.68,3.31,1,0,0,2,0,0,0,1,0,0,0,1
4,24.59,3.61,0,0,0,4,0,0,0,1,0,0,0,1

In [21]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
time          0
size          0
Thur          0
Fri           0
Sat           0
Sun           0
Thur          0
Fri           0
Sat           0
Sun           0
dtype: int64

In [37]:
df.head()

,total_bill,tip,sex,smoker,time,size,Thur,Fri,Sat,Sun,Thur,Fri,Sat,Sun
0,16.99,1.01,0,0,0,2,0,0,0,1,0,0,0,1
1,10.34,1.66,1,0,0,3,0,0,0,1,0,0,0,1
2,21.01,3.50,1,0,0,3,0,0,0,1,0,0,0,1
3,23.68,3.31,1,0,0,2,0,0,0,1,0,0,0,1
4,24.59,3.61,0,0,0,4,0,0,0,1,0,0,0,1

In [38]:
x=df.drop('time',axis=1).values

In [50]:
x

array([[16.99,  1.01,  0.  , ...,  0.  ,  0.  ,  1.  ],
       [10.34,  1.66,  1.  , ...,  0.  ,  0.  ,  1.  ],
       [21.01,  3.5 ,  1.  , ...,  0.  ,  0.  ,  1.  ],
       ...,
       [22.67,  2.  ,  1.  , ...,  0.  ,  1.  ,  0.  ],
       [17.82,  1.75,  1.  , ...,  0.  ,  1.  ,  0.  ],
       [18.78,  3.  ,  0.  , ...,  0.  ,  0.  ,  0.  ]])

In [51]:
y=df['time'].values

In [52]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [55]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=0)

### Decision Tree Classifier

In [77]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(max_depth=2)
dtc.fit(xtrain,ytrain)

DecisionTreeClassifier(max_depth=2)

In [78]:
dtc.score(xtrain,ytrain)

0.9882352941176471

In [79]:
dtc.score(xtest,ytest)

0.918918918918919

In [80]:
ypred=dtc.predict(xtest)

In [81]:
ypred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0])

In [82]:
ytest

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0])

In [83]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,ypred)
cm

array([[55,  1],
       [ 5, 13]])

In [84]:
from sklearn.metrics import f1_score
f1=f1_score(ytest,ypred)
f1

0.8125000000000001

### Naive Bayes

In [86]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(xtrain,ytrain)

GaussianNB()

In [87]:
nb.score(xtrain,ytrain)

0.9882352941176471

In [88]:
nb.score(xtest,ytest)

0.918918918918919

In [89]:
ypred=nb.predict(xtest)

In [90]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,ypred)
cm

array([[55,  1],
       [ 5, 13]])

In [92]:
from sklearn.metrics import f1_score
f1=f1_score(ytest,ypred)
f1

0.8125000000000001

### SVM

In [106]:
from sklearn.svm import SVC
sv=SVC(kernel='linear')

sv.fit(xtrain,ytrain)

SVC(kernel='linear')

In [107]:
sv.score(xtrain,ytrain)

0.9882352941176471

In [108]:
sv.score(xtest,ytest)

0.918918918918919

In [109]:
svpredict=sv.predict(xtest)
svpredict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0])

In [110]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,svpredict)
cm

array([[55,  1],
       [ 5, 13]])

In [111]:
from sklearn.metrics import f1_score
f=f1_score(ytest,svpredict)
f

0.8125000000000001

### K Nearest Neighbors

In [112]:
from sklearn.neighbors import KNeighborsClassifier 
kn=KNeighborsClassifier()
kn.fit(xtrain,ytrain)

KNeighborsClassifier()

In [118]:
print('Training Accuracy =',kn.score(xtrain,ytrain))

Training Accuracy = 0.9235294117647059

In [119]:
print('Testing Accuracy =',kn.score(xtest,ytest))

Training Accuracy = 0.8783783783783784

In [121]:
print('F1 Score =',f1_score(ytest,ypred))

F1 Score = 0.8125000000000001